@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gumela;
  src: url("../public/fonts/Gumela.woff2");
}
@font-face {
  font-family: Vazir;
  src: url("../public/fonts/Vazir.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
body {
  font-family: Vazir;
  font-size: 18px !important;
  overflow-x: hidden !important;
}
label,
input {
  display: inline-block;
  font-size: 20px;
}
a {
  cursor: pointer;
}
p:lang(en_US) {
  direction: ltr !important;
  font-family: Gumela !important;
}
